* {
    box-sizing: border-box;

}

html {
    background: url(../image/Eevee.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

img {
    height: auto;
    width: auto;
    margin-top: 10px;
    margin-left: 20px;

}

button {
    background-color: red;
    color: white;
    border-radius: 25px;
    border-color: black;
    font-size: 24px;
    margin-left: 7px;
    


}

.container {
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
}

form {
    float: right;
    
}
.gif {
    color:black;
    font-size: 24px;
    border: 1px solid black;
    
}